<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QuanLySuKien"
         connectionString="Server=.;Database=QUANLYSUKIEN;User ID=TienKhang23520699;Password=khang09022005;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
